## With's
snippet atio
	with Ada.Text_IO; use Ada.Text_IO;
snippet asu
	with Ada.Strings.Unbounded; use Ada.Strings.Unbounded;

## Packages
snippet package
	package ${1:name} is
	   --  Fill me in
	end ${1:name}
snippet packagebody
	package body ${1:name} is
	   --  Fill me in
	end ${1:name}
snippet proc
	procedure ${1:name}
	is
	begin
	   --  Fill me in
	end ${1:name}
